# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# SQLite
*.db
*.sqlite3

# Flutter
.dart_tool/
build/
.pub-cache/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Models (optional)
# models/*.onnx
# assets/mediapipe/*.task
